body {
    background-color: #f4f2ff;
    font-family: sans-serif;
}

h1,
footer,
select {
    text-align: center;
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
}

h2 {
    margin: 0 auto;
}

.container {
    display: block;
    max-width: 600px;
    margin: 40px auto 10px;
    padding: 0;
    background-color: white;
    padding: 30px;
    box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.date {
    opacity: 0.7;
}

.city {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px dashed #f0e3f4;
    padding: 30px 0;
}

.city:last-child {
    border: none;
}

.time {
    font-size: 36px;
    font-weight: bold;
}

.home-link {
    text-decoration: none;
    font-size: 20px;
    background-color: #b9adf4;
    border-radius: 8px;
    padding: 8px 20px;
    color: white;
}

.home-link:hover {
    cursor: pointer;
    border: 2px solid #b9adf4;
    background-color: white;
    color: #b9adf4;
}

.github {
    color: #b9adf4;
    text-decoration: none;
}

#city-select {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
}

#city-select:hover {
    cursor: pointer;
}
